body{
    background:#f5f7fb;
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.btn{
    border-radius:10px;
}

.table{
    background:white;
}

.navbar-brand{
    font-weight:bold;
}

footer{
    margin-top:80px;
}

.display-3{
    font-weight:700;
}