{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="text-center py-5">

<h1 class="display-3 fw-bold">

🌐 WebWatch

</h1>

<p class="lead">

Intelligent Website Monitoring & Security Analysis Platform

</p>

<p>

Monitor your websites in real time,
track SSL certificates,
detect security issues,
receive instant alerts,
and visualize performance from one dashboard.

</p>

<a href="/register" class="btn btn-primary btn-lg">

Get Started

</a>

<a href="/login" class="btn btn-outline-dark btn-lg">

Login

</a>

</div>

<hr>

<div class="row text-center mt-5">

<div class="col-md-4">

<h1>⚡</h1>

<h4>Real-Time Monitoring</h4>

<p>

Monitor website availability every minute.

</p>

</div>

<div class="col-md-4">

<h1>🔒</h1>

<h4>Security Analysis</h4>

<p>

Analyze HTTP Security Headers
and SSL Certificates.

</p>

</div>

<div class="col-md-4">

<h1>📧</h1>

<h4>Email Alerts</h4>

<p>

Receive instant email notifications
when problems occur.

</p>

</div>

</div>

<hr>

<h2 class="text-center mt-5">

Why Choose WebWatch?

</h2>

<br>

<div class="row">

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h1>🌐</h1>

<h5>Website Monitoring</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h1>🔒</h1>

<h5>SSL Monitoring</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h1>🛡</h1>

<h5>Security Scanner</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow text-center">

<div class="card-body">

<h1>📈</h1>

<h5>Analytics</h5>

</div>

</div>

</div>

</div>

<br><br>

</div>

{% endblock %}