{% extends "base.html" %}

{% block content %}

<div class="text-center">

    <h1 class="display-4">
        Welcome to WebWatch
    </h1>

    <p class="lead">
        Intelligent Website Monitoring and Security Analysis Tool
    </p>

    <a class="btn btn-primary btn-lg mt-3">
        Start Monitoring
    </a>

</div>

<hr class="my-5">

<div class="row">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h4>Website Monitoring</h4>

<p>
Monitor website uptime and availability.
</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h4>SSL Monitoring</h4>

<p>
Track SSL certificate expiry.
</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h4>Security Analysis</h4>

<p>
Analyze important HTTP security headers.
</p>

</div>

</div>

</div>

</div>

{% endblock %}