{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Monitoring History</h2>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Website</th>
            <th>Status Code</th>
            <th>Response Time</th>
            <th>Online</th>
            <th>Checked At</th>

        </tr>

    </thead>

    <tbody>

    {% for log in logs %}

    <tr>

        <td>{{ log.website.website_name }}</td>

        <td>{{ log.status_code }}</td>

        <td>{{ log.response_time }} ms</td>

        <td>

            {% if log.is_online %}

                <span class="badge bg-success">
                    Online
                </span>

            {% else %}

                <span class="badge bg-danger">
                    Offline
                </span>

            {% endif %}

        </td>

        <td>{{ log.checked_at }}</td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}