{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">My Websites</h2>

<a href="/add-website" class="btn btn-success mb-3">
    + Add Website
</a>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Interval</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% for website in websites %}

    <tr>

        <td>{{ website.website_name }}</td>

        <td>{{ website.url }}</td>

        <td>{{ website.monitoring_interval }} min</td>

        <td>
            {% if website.status %}
                <span class="badge bg-success">Active</span>
            {% else %}
                <span class="badge bg-danger">Disabled</span>
            {% endif %}
        </td>

        <td>

            <a href="/monitor/{{ website.id }}"
               class="btn btn-primary btn-sm">
                Monitor
            </a>

            <a href="/edit-website/{{ website.id }}"
               class="btn btn-warning btn-sm">
                Edit
            </a>

            <a href="/delete-website/{{ website.id }}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('Delete this website?')">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}